.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.r-m {
    font-size: 14px;
    border: 1px solid var(--button-bg-color);
    background: #2563eb17;
    padding: 3px;
    border-radius: 5px;
    color: var(--button-bg-color);
}

.r-e {
    font-size: 14px;
    border: 1px solid #ffc61d42;
    background: #ffbf000a;
    padding: 3px;
    border-radius: 5px;
    color: #ffc61d;
}

.s-active {
    background: #00800063;
    padding: 3px;
    color: green;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #00800052;
}

.s-in-active {
    background: #ff00001a;
    padding: 3px;
    color: red;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #ff000040;
}
.s-on-hold {
    background: #ff00001a;
    padding: 3px;
    color: red;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #ff000040;
}
.s-completed {
    background: #ff00001a;
    padding: 3px;
    color: red;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #ff000040;
}
.btn-primary {
    border: none;
    padding: 10px;
    background: var(--button-bg-color);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s;
}

.delete:hover {
    color: red;
    font-weight: bold;
}

.update:hover {
    color: gold;
}

.show-row:hover {
    color: blue;
}

.delete,
.update,
.show-row {
    transition: all .2s;
}

.btn-primary:hover {
    transform: scale(1.1);

}

.search-employee {
    display: flex;
    gap: 10px;
    background: white;
    padding: 14px;
    margin-top: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 7px 0px #bfbfbf;
}

.search-employee input {
    flex-basis: 70%;
    outline: none;
    border: none;
    background: var(--content-section-bg-color);
    padding: 10px;
    border-radius: 5px;
}


.select {
    padding: 8px;
    border: none;
    background: var(--content-section-bg-color);
    border-radius: 5px;
    cursor: pointer;
}

