.app-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 1fr;
    min-height: 100vh;
}

.app-header {
    grid-column: 3/13;
    background-color: white;
}

.app-side {
    background-color: var(--aside-bg-color);
    grid-area: 1 / 1 / 3 / 3;
}

.app-main {
    background-color: var(--content-section-bg-color);
    grid-column: span 10;
}
