/* Container */

.data-table-wrapper {
    margin-top: 20px;
}

/* Table */

.data-table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
}

/* Head */

.data-table thead {
    background-color: #ecf0f4;
}

.data-table thead tr th {
    text-align: start;
    font-size: 14px;
    font-weight: 400;
}

/* Body */

.data-table tbody tr {
    border-bottom: 1px solid #eee;
    transition: all .15s;
    cursor: pointer;
}

.data-table tr td,
.data-table th {
    padding: 10px;
}

.data-table tbody tr:hover {
    background-color: #fffbac73;
    border-bottom-color: gold;
}

/* First Cell */

.data-table .first {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.data-table .first .left {
    padding: 5px;
    border-radius: 50%;
    color: white;
    background: green;
    margin-right: 10px;
    width: 40px;
    HEIGHT: 40PX;
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: CENTER;
    ALIGN-ITEMS: CENTER;
}

.data-table .first small {
    color: #6a6f4d;
}

/* Generic Cells */

.data-table .second,
.data-table .third {
    font-size: 14px;
    font-weight: 200;
}

/* Priority */

.p-low {
    background: #e5e7eb;
    color: #374151;
}

.p-medium {
    background: #fef3c7;
    color: #92400e;
}

.p-high {
    background: #fed7aa;
    color: #c2410c;
}

.p-critical {
    background: #fecaca;
    color: #b91c1c;
}

/* Status */

.s-todo {
    background: #dbeafe;
    color: #1d4ed8;
}

.s-active {
    background: #dcfce7;
    color: #15803d;
}

.s-on-hold {
    background: #fef3c7;
    color: #b45309;
}

.s-completed {
    background: #e9d5ff;
    color: #7e22ce;
}

.p-low,
.p-medium,
.p-high,
.p-critical,
.s-todo,
.s-active,
.s-on-hold,
.s-completed,
.s-done{
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

}
